[submodule "exploratory-data-analysis/project1"]
	path = exploratory-data-analysis/project1
	url = C:\\Dev\\workspaces\\coursera\\datasciencecoursera\\exploratory-data-analysis\\project1
	branch = master
